<style>
    .logo{
        min-width: 400px;
        text-align: center;
        font-size: 1.5rem;
    }
    .logo span {
        color: red;
    }
</style>
<div class="logo">
    <h1>Nir<span>bytes</span></h1>
</div>